* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background: #5B5A4F;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.menu{
  width: 600px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.menu h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.menu a{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #DFD616;
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.menu a:hover{
  background: #DFD616;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box p{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box p1{
  color: red;
  text-transform: uppercase;
  font-weight: 200;
}
.box input[type = "text"], .box input[type = "password"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #DFD616;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
  width: 280px;
  border-color: #DFD616;
}
.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #DFD616;
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #DFD616;
}
.box button{
  border: 0;
  background: none;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #DFD616;
  padding: 5px 5px;
  width: 150px;
  outline: none;
  color: white;
  transition: 0.25s;
}
.box table{
  border-collapse: collapse;
  width: 50%;
  position: relative;
  float: center;
}
.box table.center {
  margin-left: auto;
  margin-right: auto;
}
.box th {
  background-color: #9D9D9D;
}
.box tr {
  background-color: #DFD616;
}
a {
  color: inherit;
  text-decoration: none;
  margin-left: 10px;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin: 10px;
}
th {
  background-color: #A9BCF5;
}
td, th {
  border: 1px solid;
  text-align: center;
  padding: 0.1em;
}
.header{
  background-color: #191919;
  height: 100px;
  width: 100%;
  display: block;
}
.inner_header{
  width: 60%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo_container{
  height: 100%;
  color: white;
  float: left;
}
.logo_container img{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo_container h1{
  color: white;
  height: 100%;
  float: left;
  padding: 20px 10px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  font-weight: 20;
}
.logo_container h1 span{
  font-weight: 200;
  color: #DFD616;
}
.naviation{
  float: right;
  height: 100%;
}
.navigation a{
  height: 100%;
  display: table;
  float: right;
  padding: 40px 20px;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Montserrat' sans-serif;
  font-size: 16px;
  font-weight: 50;
}
.column {
  float: left;
  width: auto;
}


button {
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  border-style: none;
  padding: 5px;
}


ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
}
ul li {
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid #eee;
}
ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}
ul li label {
  display: block;
  position: relative;
  color: white;
  text-align: left;
  padding: 1em 3em;
  font-size: .8em;
  cursor: pointer;
  z-index: 5;
  transition: all .25s linear:
}
ul li:hover label {
  color: #fff;
}
ul li .check {
  display: block;
  position: absolute;
  border: 2px solid #eee;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: calc(50% - 11px);
  z-index: 5;
  transition: border  .25s  linear;
}

ul li .check::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background .25s linear;
}
input[type=radio]:checked ~ .check {
  border: 2px solid #DFD616;
}
input[type=radio]:checked ~ .check::before {
  background: #DFD616;
}
input[type=radio]:checked ~ label {
  color: #DFD616;
}
